---
import '../styles/global.css'
import '@fontsource/luckiest-guy'
import '@fontsource/lato'
import '@fontsource-variable/playfair-display'
---  
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TerraHaven</title>
	</head>
	<body>
		<slot />
	</body>
</html>

