---
import { Icon } from "astro-icon/components";
import { ChevronLeft, ChevronRight } from "lucide-react";
import SectionContentCard from "../cards/SectionContentCard.astro";
import AboutCarouselView from "../islands/AboutCarouselView";
import useCarousel from "@/lib/hooks/useCarousel";
const { aboutCarouselList, aboutUs, ourStory, ourMission } = Astro.props;
const total = aboutCarouselList.length;
---

<section class="py-20">

  <AboutCarouselView data={aboutCarouselList} client:load />
</section>
<section id="about">
  <div>
    <SectionContentCard {...aboutUs} />
    <SectionContentCard {...ourStory} />
    <SectionContentCard {...ourMission} />
  </div>
</section>
