<nav class="navbar py-6">
  <ul class="nav-list flex justify-center items-center gap-6 font-lato text-sm font-semibold text-offwhite">
    <li class="nav-item"><a href="#about">About Us</a></li>
    <li class="nav-item"><a href="#products">Products</a></li>
    <li class="nav-item"><a href="#testimonials">Testimonials</a></li>
  </ul>
</nav>