---
import ProductGridView from "@/components/islands/ProductGridView";
import { productsList } from "@/lib/copy";
---

<ProductGridView productsList={productsList} client:only="react">
  <div class="loader" slot="fallback"></div>
</ProductGridView>
