---
import CarouselView from "../islands/TestimonialCarouselView.tsx";
const { testimonialsList } = Astro.props;
---

<section class="px-20 py-25" id="testimonials">
  <h2 class="text-center font-semibold text-3xl font-playfair mb-2.5">
    Testimonials
  </h2>
  <p
    class="text-center font-lato text-base leading-normal tracking-wide text-black"
  >
    Feedback from our happy customers
  </p>
  <section class="mt-12.5">
    <CarouselView data={testimonialsList} client:only="react">
      <div class="loader" slot="fallback"></div>
    </CarouselView>
  </section>
</section>
